mixin input(label, type, name, required)
    .cc-form_col
        span.cc-form_item
            input.js-form_label(
                name=name 
                type=type 
                required=required
                autocomplete='off')
            label= label